header
  .navcontainer
    nav#navigation
      a.logo(href='/') Cullen McMahon
      a.nav-toggle(aria-label='mobile menu')
        span
        span
        span
      ul.menu-left
        li
          a(href='/contact') Contact
        li
          a(href='/resume') Resume
        li
          a(href='/videos') Videography
        li
          a(href='/photos') Photography
