extends ./layout.pug

block prepend body
  body.homepage(data-wio-id=pageContent.id)
    
    include ./partials/header.pug
    
    // Content Section
    main.home
      .home-row 
        .home-column
          div.home-text
            != PrismicDOM.RichText.asText(pageContent.data.main_text)
        .home-column
          img(src=pageContent.data.image.url)
