extends ./layout.pug

block prepend body 
  body(data-wio-id=pageContent.id)

  include ./partials/header.pug

  main.vid(style="display: block;")
    section.videos
      h1
       != PrismicDOM.RichText.asText(pageContent.data.title)
      div
        != PrismicDOM.RichText.asText(pageContent.data.details)
      //- Display the slices
    for slice in pageContent.data.page_content
     case slice.slice_type
       when 'image'
           img(src=slice.primary.image.url)
           include ./partials/details.pug
