/*General*/
.full-width-image,
.two-col-row {
  margin-top: 10%;
}
.full-width-image:first-of-type {
  margin-top: 0;
}
.text-content span i {
  font-size: 16px !important;
  vertical-align: text-bottom;
}
/*End General*/

/*Home page*/
.homepage {
  background-image: url('/images/background.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}
.home {
  max-width: 1200px;
  margin: auto;
}
.home-row {
  display: flex;
  margin: 200px auto;
}
.home-column {
  flex: 50%;
}
.home-column:nth-child(1) {
  margin: 0 2rem 0 6rem;
  margin-top: inherit;
}
.home-column:nth-child(2) {
  margin: 0 6rem 0 2rem;
}

.home-column img {
  border: #BCC4DB 5px solid;
  /* margin: 20% 2rem; */
}
.home-column img:hover,
.home-text:hover {
  border: #616BA8 5px solid;
}
.home-text {
  text-align: center;
  /* margin: 50% 2rem; */
  padding: 20px;
  letter-spacing: 1px;
  background: #E6E5DB;
  border: #BCC4DB 5px solid;
}

/*End Home page*/

/* videography page */
.vid {
  padding: 0 10rem;
}
.videos {
  margin-bottom: 3.75rem;
  padding-top: 75px;
}
.videos h1 {
  font-size: 10vmin;
  text-align: center;
  letter-spacing: 5;
}
.videos div {
  text-align: center;
  margin: 40px 20px;
  font-size: 20px;
}
.arrow span::after {
  content: '\2192';
  padding: 0 3px;
}

/* photograph page */
.photo {
  margin-top: 10rem;
  padding: 0 10rem;
}
.photos {

}


/* contact page */
.contact {
  padding: 100px 20px;
}
.contact-image {
  width: 50%;
  margin: auto;
  max-width: 500px;
}
.links {
  text-align: center;
  padding-bottom: 50px;
}
.home-link,
.work-link,
.blog-link,
.contact-link {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  color: #616BA8;
  -webkit-text-stroke: 2px #BCC4DB;
  margin: 0;
  height: 40px;
  transition: .3s;
}
.home-link:hover,
.work-link:hover,
.blog-link:hover,
.contact-link:hover {
  color: #BCC4DB;
  cursor: pointer;
}
.home-link {
  animation: fadeInHome 1s ease both;

}
.work-link {
  animation: fadeInWork 1.5s ease both;

}
.blog-link {
  animation: fadeInBlog 1.5s ease both;

}
.contact-link {
  animation: fadeInContact 1s ease both;

}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    display: none;
  }
}
@keyframes fadeInHome {
  0% {
    opacity: 0;
    display: none;
    transform: scale(0)
  }

  40% {
    opacity: 0;
    transform: translate(0, 200%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeInWork {
  0% {
    opacity: 0;
    display: none;
    transform: scale(0)
  }

  40% {
    opacity: 0;
    transform: translate(0, 150%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeInBlog {
  0% {
    opacity: 0;
    display: none;
    transform: scale(0)
  }

  40% {
    opacity: 0;
    transform: translate(0, -150%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeInContact {
  0% {
    opacity: 0;
    display: none;
    transform: scale(0)
  }

  40% {
    opacity: 0;
    transform: translate(0, -200%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*Project page*/
.project {
  min-height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-size: contain;
  margin: auto;
}
.content-section {
  margin-bottom: 3.75rem;
  padding-top: 100px;
}
.two-col-row:after {
  content: "";
  display: table;
  clear: both;
}
.two-col {
  float: left;
  width: 50%;
}
.leftImg {
  padding-right: 30px;
}
.rightImg {
  padding-left: 30px;
}
.project-row {
  margin: 3rem 0;
  padding-bottom: 1rem;
  border-bottom: black 2px solid;
}
.project-row:after {
  content: "";
  display: table;
  clear: both;
}
.project-column {
  float: left;
}
.project-column:nth-child(1) {
  width: 40%;
}
.project-column:nth-child(2) {
  width: 60%;
}
#title {
  line-height: normal;
  text-align: left;
  font-family: linotype-sabon, sans-serif;
  font-size: 32px;
  margin: auto;
}
.text-content {
  font-size: 16px;
  width: 75%
}
/*End Project page*/

/* Collections Page*/
.photos-title {
  padding-top: 150px;
  font-size: 102px;
  text-align: center;
  letter-spacing: 5;
}
.photos-desc {
  text-align: center;
  margin: 40px 20px;
  font-size: 20px;
}
.photos-row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}
.photos-column {
  -ms-flex: 33.33%;
  /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
  padding: 1rem;
}

/* Media Queries */
@media (min-width: 1400px) {
  /* .home {
    max-width: 1400px;
    margin: auto;
  } */
}
@media (min-width: 1025px) {
  .contact {
    max-width: 1024px;
    margin: auto;
  }
}
@media (max-width: 1024px) {
  .home-row {
    display: block;
  }
  .home-column {
    flex: 100%;
  }
  .home-column:nth-child(1) {
    margin: 2rem auto;
    width: 600px;
  }
  .home-column:nth-child(2) {
    margin: 2rem auto;
    width: 300px;
  }
  .contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* width: 100%; */
  }
  .vid, .photo {
    padding: 0 5rem;
  }
  .videos div {
    text-align: justify;
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .project-column:nth-child(1),
  .project-column:nth-child(2) {
    width: 100%;
  }
}
/*Cell Phones*/
@media (max-width: 767px) {
  .home {
    max-width: auto;
    width: auto;
  }
  .vid, .photo {
    padding: 0 2rem;
  }
  .videos div {
    font-size: 16px;
  }
  .home-link,
  .work-link,
  .blog-link,
  .contact-link {
    font-size: 65px;
    height: 20px;
  }
  .contact-image {
    width: 80%;
    margin: auto;
  }
  .photos-title {
    font-size: 51px;
  }
  html, .header a, .thumb a, .thumbnail-title, .footer-p, .site-footer a, .footer-column, .column i, h3, .text-content {
    font-size: 16px;
  }

  /*Project*/
  .content-section h2 {
    padding-top: 100px;
  }
  .content-section {
    padding-top: 90px;
  }
  .content-section {
    margin-bottom: 2rem;
  }
  .two-col {
    width: 100%;
  }
  .leftImg {
    padding-right: 0;
  }
  .rightImg {
    padding-left: 0;
    margin-top: 10%;
  }
  .photos-row {
    padding: 60px 0 0 0;
    margin-top: 0;
  }
  .photos-column {
    -ms-flex: 100%;
    /* IE10 */
    flex: 100%;
    max-width: 100%;
    padding: 0 1rem;
  }
  .photos-column:nth-child(1),
  .photos-column:nth-child(2) {
    width: 100%;
    max-width: 100%;
  }
  .text-content {
    width: 100%;
    padding-bottom: 6rem;
  }
  /* Contact */
}
@media (max-width: 450px) {

  /*Home*/
  .home-column:nth-child(1) {
    margin: 2rem;
    width: auto;
  }
  .home-column:nth-child(2) {
    margin: 2rem auto;
    width: 300px;
  }
  /*Nav*/
  .site-header .logo {
    font-size: 18px;
  }

  .site-header {
    text-align: center;
  }

  .scrollToTopBtn {
    right: 5px;
  }

  .logo {
    width: max-content;
  }

  .logo.add-pt {
    padding-top: 35px;
  }

  /*Footer*/
  .home-footer {
    padding: 10px 1rem;
  }

  .site-footer a {
    font-size: 16px;
    line-height: 30px;
  }

  .c-style {
    font-size: 30px;
  }

  /* .wrap {
    position: inherit;
  } */
  .traditional img,
  .naturally img,
  .varied img {
    min-width: auto;
    /* padding: 0 16px; */
  }

  .wrap a span {
    position: absolute;
    display: none;
    /* left:0;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0); */
  }

  .info {
    padding: 4rem 1rem 2rem 1rem;
  }
}
@media (max-width: 320px) {
  .home-row {
    margin: 140px auto;
  }
  .home-column:nth-child(1) {
    margin: 2rem;
    width: auto;
  }
  .home-column:nth-child(2) {
    margin: 2rem;
    width: auto;
  }

  .site-header .logo {
    font-size: 16px;
  }

  .site-header {
    padding-left: 30px;
    padding-right: 15px;
  }

  .site-header a {
    font-size: 18px;
  }
}

/* End Media Queries */
